<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Programmer</title>
</head>
<body>

  <h1>All Programmer</h1>

  <th:block th:if="${isSearchPage}">
    <p th:text="'Search by'+${searchValue}"></p>
    <a href="/allProgrammer">All Programmer</a>
  </th:block>
  <th:block th:unless="${isSearchPage}">
    <a href="/">Add Programmer</a>
  </th:block>

  <form th:action="searchProgrammer" th:method="post">
    <input type="text" name="pLang" placeholder="Language">
    <button type="submit">Search Programmer</button>
  </form>

  <table>
    <tr th:each="p: ${programmers}">
      <td th:text="${p.pId}"></td>
      <td th:text="${p.pName}"></td>
      <td th:text="${p.pLang}"></td>
      <td><a th:href="@{'/edit/'+${p.pId}}">Edit</a></td>
      <td><a th:href="@{'/delete/'+${p.pId}}">Delete</a></td>
    </tr>
  </table>
</body>
</html>